<h2>Thanks for shopping with us!</h2>
<p>Let's review your order:</p>

<% @order.order_items.each do |k,v| %>
  <ul>
    <li><%= Product.find(k).name %>, <%= v %></li>
  </ul>
<% end %>

<p>
  <strong>Order Total:</strong> <%= number_to_currency @order.total %>
</p>