<h1>@<%= current_user.username %>'s HarvestList Feed</h1>


<div>
  <% @followed_farmers.each do |product| %>
    <div>
      <p>@<%= product.user.username %></p>
      <p><%= product.name %></p>
    </div>
  <% end %>
</div>
