/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
// Global

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-top: 5%;
}

.capitalize {
  text-transform: capitalize;
}

// Form

label {
  font-weight: 300;
}

.image-upload {
  padding: 3px;
  font-size: 1rem;
}

// Product List

.well {
  overflow: auto;
  background-color: none;
  background-repeat: repeat;
  border: none;
  padding: 0;
}

.well:hover {
  background-image: url(pattern.gif);
}

.well h3 {
  display: inline-block;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(2, 146, 86);
  text-transform: capitalize;
}

.well a:hover {
  text-decoration: none;
  background-color: yellow;
}

.well img {
  margin-right: 2rem;
  object-fit: cover;
  width: 150px;
  height: 150px;
  float: left;
}

.right {
  color: rgb(56, 56, 56);
  position: relative;
  top: -1rem;
}

.well h3 {
  color: rgb(2, 146, 86);
}

// Vendor Page

.vendor-avatar {
  margin-top: 2.5rem;
}

.vendor-avatar img {
  width: 150px;
}

// Product Show Page

.product-image {
  width: 500px;
}

.product-title {
  font-size: 2rem;
}

// Category

.category-list {
  padding-inline-start: 0px;
}
.category-list li {
  display: inline;
  padding-right: 1rem;
}
