/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
// Global

body {
  font-family: "Work Sans", sans-serif;
  background-color: #ffda2f;
  background-image: url(pattern_white.png);
  background-repeat: repeat;
}

.container {
  padding-top: 5%;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
a,
.padding-left,
.farm-link {
  color: rgb(2, 146, 86);
}

// Form

label {
  font-weight: 300;
}

.image-upload {
  padding: 3px;
  font-size: 1rem;
}

// Product List

.well {
  overflow: auto;
  background-color: none;
  background-repeat: repeat;
  border: none;
  padding: 0;
  box-shadow: -3px 3px #d2b21f;
}

.well:hover {
  background-image: url(pattern.gif);
  box-shadow: none;
  position: relative;
  top: 3px;
  right: 3px;
}

.well h3 {
  display: inline-block;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(2, 146, 86);
  text-transform: capitalize;
}

.well a:hover {
  text-decoration: none;
  background-color: yellow;
}

.well img {
  margin-right: 2rem;
  object-fit: cover;
  width: 150px;
  height: 150px;
  float: left;
}

.right {
  color: rgb(56, 56, 56);
  position: relative;
  top: -1rem;
}

.well h3 {
  color: rgb(2, 146, 86);
}

// Vendor Page

.vendor-avatar {
  margin-top: 2.5rem;
}

.vendor-avatar img {
  width: 150px;
}

// Product Show Page

.product-image {
  margin-top: 1rem;
  width: 500px;
}

.product-title {
  font-size: 2rem;
}

.farm-link {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid rgb(2, 146, 86);
}

.farm-link:hover {
  text-decoration: none;
  border-bottom: 2px solid rgb(20, 90, 61);
}

.padding-left {
  padding-left: 0.5rem;
}

.soldout-card,
.category-card,
.available-card {
  padding: 1% 2%;
  margin: 0 1% 2% 0;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  color: rgb(2, 146, 86);
  background-color: rgb(129, 255, 202);
  border: 1px solid rgb(0, 255, 149);
  border-radius: 3%;
}

.category-card a {
  color: rgb(2, 146, 86);
}

.soldout-card {
  background-color: rgb(255, 101, 101);
}

.category-card .micro-nav::before {
  content: "\A";
  white-space: pre;
}

.show-info {
  position: relative;
  top: 1rem;
}

.show-info strong {
  color: rgb(2, 146, 86);
  text-transform: uppercase;
}

// Category

.category-list {
  padding-inline-start: 0px;
}

.category-list li {
  display: inline;
  padding-right: 1rem;
}

// View Order

ul.view-order {
  list-style-type: none;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.view-order li {
  display: inline;
}

.checkout-image {
  margin-right: 1.5rem;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.checkout-btn {
  margin-top: 2rem;
}

.total {
  margin-top: 3rem;
}

.remove a {
  color: rgb(255, 0, 55);
}
